#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.2
Type=Application
Name=Browser
Exec=/usr/bin/env QT_QUICK_BACKEND=software /usr/bin/cutie-browser
TryExec=/usr/bin/cutie-browser
Icon=cutie-browser
Terminal=false
StartupNotify=false
